<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.co.mapion.android.nfcsample2"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.NFC" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NFCSample2Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.nfc.action.TAG_DISCOVERED" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NdefWriterTextActivity" android:label="かざしてください / Ndef書込（Text）" />
        <activity android:name=".NdefWriterUriActivity" android:label="かざしてください / Ndef書込（Uri）" />
        <activity android:name=".NdefWriterSmartPosterActivity" android:label="Nかざしてください / def書込（Smart Poster）" />
		<activity android:name=".NdefReaderActivity" android:label="Ndef読取" />
    </application>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
</manifest>